[submodule "thirdparty/ctpl"]
	path = thirdparty/ctpl
	url = https://github.com/vit-vit/CTPL
[submodule "thirdparty/cpp-optparse"]
	path = thirdparty/cpp-optparse
	url = https://github.com/weisslj/cpp-optparse
